<div class="row">
  <div class="col-sm">
    <a href="/txs">Transacciones</a>
  </div>
  <div class="col-sm">
    <a href="/cards">Tarjetas</a>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <a href="/store_balance">Saldo DataPaga</a>
  </div>
  <div class="col-sm">
    <a href=""></a>
  </div>
</div>